# Archivos generados (excluir de versionado)
*.tex
*.pdf
*.docx
*_files/
*.knit.md
_site/

# macOS
.DS_Store

# Google Drive temporales (¡crucial!)
.tmp.driveupload/

# Entornos R
.Rhistory
.RData
.Rproj.user/
renv/

# Zotero cachés (NO bibliography.bib)
*.zotero-ft-cache
zotero.sqlite*
/.quarto/
**/*.quarto_ipynb
